:root{
    --primary-color:rgb(67, 18, 18);
    --ticked: rgb(159, 157, 157);
    --pink: #e01c7e;
    --purple: #7155b6;
    
}

*{
    padding: 0px;
    margin: 0%;
}


body{
    color: white;
    background: linear-gradient(to right, var(--pink), var(--purple));
}

.allcontent{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    max-width: 1250px;
}

li{
    list-style-type: none;
}

header h1{
    padding: 40px;
}

input{
    outline: none;
}

.add-tasks{
    padding: 40px 0px 100px 0px;
}

.add-tasks input[type = text]{
    caret-color: var(--primary-color);
    color:  var(--primary-color);
    width: 50vw;
    max-width: 600px;
    padding: 8px 2vw;
    font-size: 16px;
    border-radius: 33px 0px 0px 33px;
    border-color: var(--primary-color);
}

.add-tasks button{
    padding: 8px 15px 8px 20px;
    border-radius: 0px 33px 33px 0px ;
    border-color: var(--primary-color);
    outline: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-color);
    background-color: white;
}

.add-tasks button:hover{
    background-color: rgb(106, 102, 102);
}

.add-tasks button:active{
    color: white;
    background-color: black;
}

ul{
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;
}

ul.tasks li{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;

}

ul.tasks li label{
    padding: 0px 20px;
}

.checked{
    text-decoration: line-through;
    color: var(--ticked);
}


.tasks li input{
    caret-color: var(--primary-color);
    color:  var(--primary-color);
    width: 50vw;
    max-width: 600px;
    padding: 2px 2vw;
    font-size: 16px;
    border: none;
}

.tasks li{
    background-color: white;
    color: var(--primary-color);
}

ul li{
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li span{
    padding: 0px 2vw;
}

ul li .edit-button{
    color: aquamarine;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}


ul .delete{
    color: crimson;
    cursor: pointer;
}

ul .delete:hover{
    border-bottom: 1px solid crimson;
}

ul .delete:active{
    color: black;
}



@media screen and (max-width: 500px) {
    .add-tasks input[type = text]{
        font-size: 13px;
    }

    li input[type = text]{
        font-size: 13px;
    }

    .add-tasks button{
        font-size: 13px;
    }

    ul.tasks li{
        font-size: 14px;
    }
    
}